<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apotekapp.apotek">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utill.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ObatLain"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".ObatOles"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".ObatTablet"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".ObatSirup"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.Register" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivity" />
        <activity
            android:name=".UpdateDataApoteker"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".DetailApotekerActivity"
            android:exported="true" />
        <activity
            android:name=".CreateDataApoteker"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".ApotekerActivity"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".UpdateDataObat"
            android:exported="true"
            android:theme="@style/Theme.UpdateObatActivity" />
        <activity
            android:name=".CreateDataObat"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".DetailObatActivity"
            android:exported="true" />
        <activity
            android:name=".ObatActivity"
            android:exported="true"
            android:theme="@style/Theme.ObatActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>